@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

:root {
    --primary-light-cyan: hsl(193, 38%, 86%);
    --primary-neon-green: hsl(150, 100%, 66%);
    --neutral-grayish-blue: hsl(217, 19%, 38%);
    --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
    --neutral-dark-blue: hsl(218, 23%, 16%);
    --font-size: 28px;
    --font-family: 'Manrope', sans-serif;
    --font-weight-bold: 800;
    --mobile-breakpoint: 375px;
    --desktop-breakpoint: 1440px;
    --button-size: 65px;
}

body {
    font-family: var(--font-family);
}

.bg {
    display: grid;
    place-items: center;
    background-color: var(--neutral-dark-blue);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}

.card {
    display: grid;
    grid-template-rows: auto auto 50px;
    gap: 1rem;
    background-color: var(--neutral-dark-grayish-blue);
    width: 500px;
    padding: 2rem;
    min-height: 300px;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}

@media (max-width: 500px) {
    .card {
        max-width: 80%;
        width: auto;
    }
}


.card-title {
    color: var(--primary-neon-green);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.card-body {
    color: var(--primary-light-cyan);
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
}

.card-separator {
    background-image: url('assets/pattern-divider-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 500px) {
    .card-separator {
        background-image: url('assets/pattern-divider-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.card-btn {
    display: grid;
    place-items: center;
    cursor: pointer;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    background-color: var(--primary-neon-green);
    position: absolute;
    bottom: calc((var(--button-size) / 2) * -1);
    left: 50%;
    translate: -50% 0;
    transition: 0.1s ease-in;
}

.card-btn:hover {
    box-shadow: 0 0 16px var(--primary-neon-green);
}